
body {
	margin: 0px;

}
#topnav {
	padding-top: 10px;
	font-size: 14px;
	font-weight: 400;
	height: 40px;
	width: 100%;
	background: #d8004c;
	color: #ffffff;
	position: relative;
	z-index: 1000000000;
}

#topnavcontent {
	display: none;
	position: relative;
	background: #d8004c;
	font-size: 12px;
	line-height: 35px;
	color: #ffffff;
	margin: 0;
	padding-left: 40px;
	z-index: 1000000000;
}


.topnavcol {
	display: inline-block;
	vertical-align: top;
	width: 160px;
	margin-right: 0px;
	margin-bottom: 0px;
	zoom: 1;
	*display: inline;
}


